{% extends 'layouts/index.html' %}

{% block content %}
<style type="text/css">
    .product-card{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;
    flex-wrap: wrap;
    padding; 15px;
    }
</style>
<div class="product-card">
{% for product in products %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{product.title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{product.date}}</h6>
            <a href="#" class="card-link">More</a>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}